.contentBoxContainer{
    padding: 5.5em 0em;
}
.ContentBox{
    padding-right: 4em;
}
.contentLast .ContentBox{
    padding-right: 0em;
    padding-left: 4em;
}
.contentBoxHeading{
    font-size: 3em;
    font-family: 'Manrope';
    font-weight: 700;
}
.contentBoxDescription{
    font-family: 'Poppins';
    font-size: 1.13em;
}
.contentBoxImageBox{
    padding-left: 4em;
}
.imageFirst .contentBoxImageBox{
    padding-left: 0em;
    padding-right: 0em;
}
.contentBoxImage{
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 40px;
}

@media screen and (max-width: 1199px) {
    .contentBoxHeading{
        font-size: 3.3em;
    }
    .contentBoxDescription {
        font-size: 1.35em;
    }
}

@media screen and (max-width: 992px) {
    .ContentBox {
        padding-right: 1em;
    }
    .contentBoxHeading{
        font-size: 3.6em;
    }
    .contentBoxDescription {
        font-size: 1.55em;
    }
}

@media screen and (max-width: 767px) {
    .contentBoxHeading{
        font-size: 5em;
    }
    .contentBoxDescription {
        font-size: 2.1em;
        margin: 1em 0em;
    }
    .contentBoxImageBox{
        padding-left: 0px;
    }
}

@media screen and (max-width: 575px) {
    .contentBoxHeading {
        font-size: 8em;
    }
    
    .contentBoxDescription {
        font-size: 3.5em;
        margin-bottom: 2em;
    }
    
    .contentBoxImage {
        height: 300px;
    }
}