.contactForm{
    display: flex;
    overflow: hidden;
}
.contactFomFirstTab, .contactFomSecondTab{
    min-width: 100%;
    position: relative;
    left: 0%;
    transition: all 0.5s ease;
}
.contactForm.showSecond .contactFomFirstTab, .contactForm.showSecond .contactFomSecondTab{
    left: -100%;
}
.contactFormHeading{
    font-family: 'Manrope';
    font-size: 1.5em;
    font-weight: 800;
    line-height: 1.3em;
}
.contactServiceBox{
    background: var(--main-blue-color);
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
}
.contactServiceName{
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 1.2em;
    color: #fff;
    text-align: center;
}
.contactPageIndexing{
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 1.2em;
}
.contactPageIndexing span{
    font-size: inherit;
    font-family: inherit;
}
.contactFormSubHeading{
    font-family: 'Manrope';
    font-size: 1.15em;
    font-weight: 800;
}
.subServiceCheckBox label{ 
    gap: .5em;
    cursor: pointer;
}
.subServiceCheckBox span{    
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 1em;
}
.inputBox div {
    align-items: flex-end;
    border-bottom: 1px solid #000;
    padding: 0.3em 0em;
    margin-bottom: 1.3em;
    font-size: 1.15em;
}

.inputLabel {
    margin-right: 3em;
    color: #000;
    width: 28%;
    font-family: 'Poppins';
    font-size: inherit;
    font-weight: inherit;
}

.inputElement {
    width: 72%;
    background: none;
    border: none;
    outline: none;
    font-size: inherit;
    font-weight: inherit;
}

.inputElement::placeholder {
    color: #4d4d4d;
}

.inputElement:focus::placeholder {
    opacity: 0.5;
}
.inputElement[type="number"]::-webkit-outer-spin-button,
.inputElement[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.radioQuestionHeading{
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 1.15em;
}
.formButton{
    background: var(--main-blue-color) !important;
    color: #fff;
    padding: 0.6em 2em;
    font-family: 'Manrope';
    font-weight: 600;
    transition: all 0.3s;
}
.formButton svg{
    font-size: inherit;
}
.formButton:hover{
    background: #0f82dd !important;
    color: #fff;
}
.formButton:first-child{
    background: none !important;
    border: 1px solid var(--main-blue-color);
    color: var(--main-blue-color);
}
.formButton:first-child:hover{
    background: var(--main-blue-color) !important;
    color: #fff;
}

.errorText {
    color: red;
    font-size: 14px;
    margin-top: 4px;
}

.spinner {
    border: 4px solid #fff;
    border-top: 4px solid var(--main-blue-color);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
    display: inline-block;
    margin-right: 10px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


@media screen and (max-width: 1399px) {
    .contactServiceBox{
        width: 185px;
        height: 185px;
    }
    .contactFormHeading{
        font-size: 1.8em;
    }
    .contactFormSubHeading{
        font-size: 1.3em;
    }
    .subServiceCheckBox span{
        font-size: 1.1em;
    }
}
@media screen and (max-width: 1199px) {
    .contactServiceBox {
        width: 160px;
        height: 160px;
    }
    .contactFormHeading{
        font-size: 2.1em;
    }
    .contactFormSubHeading{
        font-size: 1.6em;
    }
    .subServiceCheckBox span{
        font-size: 1.4em;
    }
    .radioQuestionHeading{
        font-size: 1.4em;
    }
    .inputBox div{
        font-size: 1.45em;
    }
    .inputLabel{
        width: 30%;
        margin-right: 1.8em;
    }
    .inputElement{
        width: 67%;
    }
    .formButton{
        font-size: 1.3em;
    }
}

@media screen and (max-width: 992px) {
    .contactForm{
        padding: 5em 0em;
    }
    .contactFormHeading{
        font-size: 2.3em;
    }
    .contactPageIndexing{
        font-size: 1.9em;
    }
    .contactServiceBox {
        width: 165px;
        height: 165px;
    }
    .contactServiceName{
        font-size: 1.8em;
        padding: 0em 1em;
    }
    .contactFormSubHeading{
        font-size: 2em;
    }
    .subServiceCheckBox span{
        font-size: 1.65em;
    }
    .radioQuestionHeading{
        font-size: 1.8em;
    }
    .inputBox div {
        font-size: 1.7em;
        margin: 1.1em 0em;
    }
    .formButton{
        font-size: 1.6em;
    }
}

@media screen and (max-width: 767px) {
    .contactFormHeading {
        font-size: 3em;
    }

    .contactPageIndexing {
        font-size: 2.8em;
    }

    .contactServiceName {
        font-size: 2.3em;
    }
    .contactFormSubHeading {
        font-size: 2.5em;
    }
    .subServiceCheckBox span{
        font-size: 2.25em;
    }
    .radioQuestionHeading{
        font-size: 2.4em;
    }
    .inputBox div{
        font-size: 2.3em;
    }
    .formButton{
        font-size: 2em;
    }
}

@media screen and (max-width: 575px) {
    .contactForm {
        padding: 12em 0em;
    }
    .contactFormHeading {
        font-size: 5em;
        padding-bottom: 0.5em;
    }

    .contactPageIndexing {
        display: none;
    }

    .contactServiceName {
        font-size: 4.5em;
    }
    .contactFormSubHeading{
        font-size: 4.7em;
    }
    .subServiceCheckBox span{
        font-size: 4.8em;
        margin-left: 0.3em;
    }
    .subServicesCheckBoxes > div{
        column-gap: 4em !important;
    }
    .radioQuestionHeading{
        font-size: 4.5em;
        font-weight: 600;
    }
    .inputBox div {
        font-size: 4em;
    }
    
    .formButton {
        font-size: 3.7em;
        margin-left: 0.8em;
        font-weight: 700;
    }
    .inputLabel{
        width: 50%;
        font-weight: 500;
    }
}