.contactMainHeading{
    font-family: 'Manrope';
    font-size: 2.9em;
    font-weight: 800;
    line-height: 1.3em;
}
.contactMainPara{
    font-size: 1.2em;
    line-height: 28px;
}
.contactBox{
    border: 1px solid #d3d2d2;
    padding: 20px 25px;
    border-radius: 25px;
    height: 100%;
}
.contactBoxHeading{
    font-family: 'Manrope';
    font-size: 1.3em;
    font-weight: 700;
}
.contactBoxDescription{
    font-family: 'Poppins';
    font-size: 1.05em;
}

@media screen and (max-width: 1199px) {
    .contactMainHeading {
        font-size: 4.35em;
    }
    
    .contactMainPara {
        font-size: 1.5em;
    }
    .contactBox{
        padding: 18px;
    }
    .contactBoxHeading{
        font-size: 1.7em;
    }
    .contactBoxDescription {
        font-size: 1.3em;
    }
}

@media screen and (max-width: 992px) {
    .contactMainHeading {
        font-size: 5em;
    }
    
    .contactMainPara {
        font-size: 2em;
    }
    .contactBoxHeading{
        font-size: 2.1em;
        padding-bottom: 0.3em;
    }
    .contactBoxDescription{
        font-size: 1.5em;
    }
}

@media screen and (max-width: 767px) {
    .contactMainHeading {
        font-size: 6em;
    }
    
    .contactMainPara {
        font-size: 2.2em;
    }
    .contactBoxHeading {
        font-size: 3em;
    }
    
    .contactBoxDescription {
        font-size: 2.1em;
    }
}

@media screen and (max-width: 575px) {
    .contactMainHeading {
        font-size: 8.5em;
    }
    .contactMainPara {
        font-size: 3.5em;
    }
    .contactBoxHeading {
        font-size: 5.5em;
    }
    
    .contactBoxDescription {
        font-size: 4em;
    }
    .contactBox {
        padding: 30px 20px;
    }
}