.videoContainer{
    width: 80vw;
    height: 80svh;
    border-radius: 35px;
    overflow: hidden;
    margin: 10em auto 0em auto;
}
.ctaVideo{
    width: 100%;
    height: 100svh;
    object-fit: cover;
}
.videoContentContainer{
    position: absolute;
    color: #fff;
    bottom: 20%;
    left: 0px;
    right: 0px;
}
.ctaVideoHeading{
    font-size: 3.2em;
    font-family: 'Manrope';
    font-weight: 800;;
}
.ctaBtn{
    font-family: 'Manrope';
    color: inherit;
    border-color: inherit;
    font-size: 1.1em;
    font-weight: 500;
    transition: all 0.3s;
    padding: 0.5em 1.5em;
    position: relative;
    border-radius: 8px;
}
.ctaBtn a{
    color: inherit;
}
.ctaBtn span{
    position: relative;
    z-index: 2;
    font: inherit;
}
.ctaBtn::before{
    content: "";
    width: 0%;
    height: 100%;
    position: absolute;
    top: 100%;
    left: 50%;
    transition: all 0.3s;
    background-color: var(--main-blue-color);
    border-radius: 8px;
    z-index: 1;
}
.ctaBtn:hover::before{
    top: 0%;
    width: 100%;
    left: 0px;
}
.ctaContentBox{
    padding: 7em 0em;
}
.ctaContentBoxHeading{
    font-size: 3em;
    font-weight: 800;
    font-family: 'Manrope';
    letter-spacing: 0.5px;
}
.ctaContentBox .ctaBtn:hover{
    color: #fff;
}

@media screen and (max-width: 1199px) {
    .ctaVideoHeading{
        font-size: 4em;
    }
    .ctaBtn{
        font-size: 1.5em;
    }
    .ctaContentBoxHeading{
        font-size: 3.7em;
    }

}

@media screen and (max-width: 992px) {
    .ctaVideoHeading {
        font-size: 4.5em;
        margin-bottom: .5em;
    }
    
    .ctaBtn {
        font-size: 1.8em;
    }
    .ctaContentBoxHeading {
        font-size: 4em;
    }
}

@media screen and (max-width: 767px) {
    .ctaVideoHeading {
        font-size: 5em;
    }
    
    .ctaBtn {
        font-size: 2em;
    }
    .ctaContentBoxHeading {
        font-size: 4.7em;
        text-align: center;
    }
}

@media screen and (max-width: 575px) {
    .ctaVideo {
        height: 80svh;
    }
    .videoContentContainer{
        bottom: 30%;
        padding: 0em 5em;
    }
    .ctaVideoHeading {
        font-size: 9em;
        text-align: center;
    }
    
    .ctaBtn {
        font-size: 4em;
    }
    .ctaContentBox{
        padding: 12em 5em;
    }
    .ctaContentBoxHeading {
        font-size: 7em;
        margin-bottom: 0.5em;
        text-align: center;
    }
}