.navHoverDropdown {
    background: #fff;
    color: #000;
    height: inherit;
}

.navImageBox {
    padding: 2.4em 2em;
    background-color: #f7f7f7;
    height: 100%;
}

.navDropdownMainHeading {
    font-family: 'Manrope';
    font-weight: 600;
    font-size: 1.6em;
}
.navDropdownMainHeading a{
    font-size: inherit;
    font-family: inherit;
    color: inherit;
}

.navDropdownMainImg {
    width: 100%;
    padding: 1em 0em;
}

.navDropdownMainDescription {
    font-family: 'Poppins';
    font-size: 0.95em;
}

.navDropdownCol {
    padding: 2.4em 0em 1em 0em;
}

.navCategoryBox {
    padding: 0em 2.4em .2em 2.4em;
}

.navCategoryListContainer {
    row-gap: 5px;
}

.navCategoryHeading {
    font-size: 1.4em;
    font-family: 'Manrope';
    font-weight: 700;
    padding-bottom: 0.25em;
}
.navCategoryHeading a{
    color: inherit;
    font-size: inherit;
    font-family: inherit;
}
.navCategoryListLink {
    color: #000;
    font-family: 'Poppins';
    font-size: 1em;
    position: relative;
}

.navCategoryListLink::before {
    content: "";
    width: 0%;
    height: 2px;
    background: var(--main-blue-color);
    position: absolute;
    left: 0px;
    bottom: -2px;
    transition: all 0.25s;
}

.navCategoryListLink:hover::before {
    width: 100%;
}

.navCategoryListLink svg {
    font-size: inherit;
    color: var(--main-blue-color);
    position: relative;
    left: 0px;
    transition: all 0.2s;
}

.navCategoryListLink:hover svg {
    left: 6px;
}