.pageVideo {
    width: 100%;
    height: 50vh;
    object-fit: cover;
}

.pageHeroContent {
    top: 35%;
    left: 9%;
    right: 40%;
    color: #fff;
}

.pageHeroHeading {
    font-family: 'Manrope';
    font-weight: 900;
    font-size: 3em;
}

.pageHeroDescription {
    font-family: 'Poppins';
    font-size: 0.95em;
}
@media screen and (max-width: 1199px) {
    .pageHeroHeading{
        font-size: 3.7em;
    }
    .pageHeroDescription{
        font-size: 1.25em;
    }
}

@media screen and (max-width: 992px) {
    .pageHeroContent{
        right: 30%;
    }
    .pageHeroHeading{
        font-size: 4.6em;
    }
    .pageHeroDescription{
        font-size: 1.5em;
    }
}


@media screen and (max-width: 767px) {
    .pageHeroContent {
        left: 0px;
        right: 0px;
        text-align: center;
        padding: 0em 10em;
    }
    
    .pageHeroHeading {
        font-size: 5.7em;
    }
    
    .pageHeroDescription {
        font-size: 2em;
    }
}

@media screen and (max-width: 575px) {
    .pageHeroContent {
        top: 30%;
            padding: 0em 7em;
        }
    .pageHeroHeading {
            font-size: 8em;
            margin-bottom: .31em;
        }
    
        .pageHeroDescription {
            font-size: 3.3em;
        }
}