.serviceBox{
    padding: 30px;
    position: relative;
    overflow: hidden;
    height: 100%;
}
.serviceBox::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #00000054;
    z-index: 1;
}
.serviceImage{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.2s;
}
.serviceBoxContent{
    z-index: 3;
}
.serviceBoxName{
    font-family: 'Helvetica Neue Interface bold' !important;
    font-size: 1.5em;
    font-weight: 500;
    color: #fff;
}
.serviceBoxHeading{
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 1.9em;
    padding: 15px 0px;
    color: #fff;
}
.serviceBoxDescription{
    font-family: 'Poppins';
    font-size: 1em;
    color: #fff;
    opacity: 0;
    padding-bottom: 2.5em;
    position: relative;
    left: 100%;
    transition: all 0.2s;
}
.serviceBoxButton{
    background: none;
    border: none;
    font-family: 'Poppins';
    font-weight: 700;
    position: relative;
    top: 100px;
    opacity: 0;
    color: #fff;
    transition: all 0.3s;
}
.serviceBoxButton a{
    font-size: inherit;
    color: inherit;
}
.serviceBoxButton svg{
    font-size: inherit;
}
.serviceBoxButton::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 2px ;
    width: 0%;
    border-radius: 12px;
    background-color: #ffffff;
    transition: all 0.3s;
}

.serviceBox:hover .serviceImage {
    filter: blur(8px);
    transform: scale(1.6);
}
.serviceBox:hover .serviceBoxButton::before {
    width: 100%;
}
.serviceBox:hover .serviceBoxDescription {
    left: 0px;
    opacity: 1;
}
.serviceBox:hover .serviceBoxButton {
    top: 0px;
    opacity: 1;
}

@media screen and (max-width: 1199px) {
    .serviceBoxName {
        font-size: 2em;
    }
    .serviceBoxHeading {
        font-size: 2.65em;
    }
        
    .serviceBoxDescription {
        font-size: 1.3em;
        padding-bottom: 4em;
    }
    .serviceBoxButton {
        font-size: 1.3em;
    }
}
@media screen and (max-width: 992px) {
    .serviceBoxName {
        font-size: 2.5em;
    }
    .serviceBoxHeading {
        font-size: 3.6em;
    }
        
    .serviceBoxDescription {
        font-size: 1.7em;
    }
    .serviceBoxButton {
        font-size: 1.7em;
    }
}
@media screen and (max-width: 767px) {
    .serviceBoxName {
        font-size: 3.5em;
    }
    .serviceBoxHeading {
        font-size: 5em;
    }
        
    .serviceBoxDescription {
        font-size: 2.2em;
    }
    .serviceBoxButton {
        font-size: 2.2em;
    }
}
@media screen and (max-width: 575px) {
    .serviceBoxName {
        font-size: 5.6em;
    }
    .serviceBoxHeading {
        font-size: 8.9em;
    }
        
    .serviceBoxDescription {
        font-size: 4.4em;
    }
    .serviceBoxButton {
        font-size: 4.4em;
    }
}