.heroVideoContainer {
    min-height: 100vh;
}

.heroVideo {
    top: 50%;
    left: 50%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: 1;
}
.heroVideoContentContainer {
    top: 55%;
    left: 35%;
    right: 23%;
    transform: translate(-50%, -50%);
    z-index: 2;
}
.heroVideoHeading {
    font-family: 'Helvetica Neue Interface bold' !important;
    color: inherit !important;
    font-size: 5.5em;
    line-height: 1em !important;
}

.heroVideoParagraph {
    font-size: 1.2em;
    padding: 1em 0px;
}
.heroCarouselBtn{
    font-size: 1.2em;
    font-family: 'Poppins';
    background: var(--main-blue-color);
    border: none;
    padding: 10px 30px;
    border-radius: 10px;
    color: #fff;
}
.heroCarouselBtn a{
    color: inherit;
    font-size: inherit;
    font-family: inherit;
}
@media (max-width: 1200px) {
    .heroVideoHeading {
        font-size: 6.1em;
    }
    
    .heroVideoParagraph {
        font-size: 1.3em;
    }
    .heroCarouselBtn{
        font-size: 1.3em;
    }
}
@media (max-width: 992px) {
    .heroVideoContentContainer {
        left: 36%;
        right: 18%;
    }
    .heroVideoHeading {
        font-size: 6.7em;
    }
    
    .heroVideoParagraph {
        font-size: 1.7em;
    }
    .heroCarouselBtn{
        font-size: 1.6em;
    }
}
@media (max-width: 830px) {
    .heroVideoContentContainer {
        left: 50%;
        right: 0%;
    }
    .heroVideoHeading {
        font-size: 7.3em;
        text-align: center;
    }
    
    .heroVideoParagraph {
        font-size: 2.4em;
        text-align: center;
        padding: 0.5em 0em;
    }
    .heroCarouselBtn{
        font-size: 1.9em;
        display: flex;
        justify-self: center;
    }
}
@media (max-width: 620px) {
    .heroVideoHeading {
        font-size: 9em;
    }
    
    .heroVideoParagraph {
        font-size: 2.9em;
        padding: 0.8em 0em;
    }
    .heroCarouselBtn{
        font-size: 2.3em;
        display: flex;
        justify-self: center;
    }
}
@media (max-width: 550px) {
    .heroVideoContainer {
        min-height: 80vh;
    }
    .heroVideoContentContainer {
        width: 100%;
        padding: 0em 8em;
    }
    .heroVideoHeading {
        font-size: 12em;
    }
    
    .heroVideoParagraph {
        font-size: 4.5em;
    }
    .heroCarouselBtn{
        font-size: 4em;
    }
}