.contactDetailSection{
    padding: 8em 0em;
}

@media screen and (max-width: 575px) {
    .contactDetailSection{
        padding: 8em 5em;
    }
    .contactDetailGlobal{
        padding: 4em 5em;
    }
}