.head {
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    border-bottom: 1px solid #7f7f7f;
    background: transparent;
    transition: background-color 0.3s ease-in-out;
}

.scrolled {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

.headerLogo {
    width: 120px;
}

.navLinks {
    color: #fff;
    font-family: 'Helvetica Neue Interface Regular';
    font-weight: 400;
    font-size: 1.15em;
}

.navLinksScrolled {
    color: #000;
}

.active {
    color: var(--main-blue-color);
}

.contactDetail {
    font-family: 'Helvetica Neue Interface Regular' !important;
    color: #fff;
    font-size: 1.05em;
}

.contactDetailScrolled {
    color: #000;
}

.contactDetail svg {
    font-size: inherit;
}

.navContactBtn {
    font-family: 'Helvetica Neue Interface Regular' !important;
    background: #fff !important;
    font-size: 1.1em !important;
    padding: 5px 20px !important;
    border-radius: 25px !important;
}

.navContactBtnScrolled {
    background: #418dc9 !important;
    color: #fff !important;
}
.sidebarOption{
    display: none;
}
.sidebarBtn, .sidebarBtnScrolled{
    font-size: 2.6em;
    background: none;
    border: none;
    color: #fff;
    display: flex;
    align-items: center;
}
:where(.sidebarBtn, .sidebarBtnScrolled) svg{
    font-size: inherit;
}
.sidebarBtnScrolled{
    color: #000;
}
.navDropDownHeaderBox{
    position: absolute;
    width: 100%;
    left: 0px;
    /* top: -100vh; */
    top: 4.4em;
    max-height: 0px;
    overflow: hidden;
    transition: all .3s;
}
.navList{
    cursor: pointer;
}
.navList:hover .navDropDownHeaderBox{
    max-height: 100vh;
}

@media screen and (max-width: 1199px) {
    .navLinks{
        font-size: 1.4em;
    }
    .contactDetail{
        font-size: 1.25em;
    }
    .navContactBtn{
        font-size: 1.4em !important;
    }
}

@media screen and (max-width: 992px) {
    .headerLogo{
        width: 145px;
    }
    .Navbar{
        display: none;
    }
    .contactDetails{
        display: none;
    }
    .sidebarOption {
        display: block;
    }
}

@media screen and (max-width: 767px) {
    .sidebarBtn, .sidebarBtnScrolled{
        font-size: 3.2em;
    }
}

@media screen and (max-width: 575px) {
    .head{
        padding: 0em 5em;
    }
    .sidebarBtn, .sidebarBtnScrolled {
        font-size: 6em;
    }
}