.verticleSlider{
    background-color: #0e0e0e;
    color: #f0f0f0;
}
.contentArea{
    width: 50%;
}
.steps::before{
    content: "";
    position: absolute;
    left: 0px;
    width: 4px;
    border-radius: 25px;
    height: 100%;
    background-color: #fff;
}

.progressBar {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    border-radius: 25px;
    height: 0;
    background-color: var(--main-blue-color);
    z-index: 3;
    transition: height 0.3s ease;
}

.step{
    height: 70vh;
    padding: 0px 50px;
}
.stepsCount{
    font-family: 'Manrope';
    font-weight: 600;
    font-size: 2em;
}
.stepHeading{
    font-family: 'Manrope';
    font-size: 3em;
    font-weight: 700;
    color: var(--main-blue-color);
    padding: 0.3em 0em;
}
.stepDescription{
    font-family: 'Poppins';
    font-size: 1.3em;
}

.headingContainer{
    padding-bottom: 7em;
}
.processMainHeading{
    font-family: 'Manrope';
        font-size: 3.5em;
        font-weight: 900;
        color: #fff;
        padding: 0.2em 0em;
}
.processMainHeading span{
    color: var(--main-blue-color);
    font-size: inherit;
    font-weight: inherit;
}
.processView {
    background: none;
    color: #fff;
    border: none;
    font-family: 'Manrope';
    font-size: 1.4em;
    font-weight: 500;
}
.processView a{
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}
.processView svg{
    font-size: inherit;
    font-weight: inherit;
    margin-left: 15px;
}

.imagesArea{
    width: 50%;
    height: 100svh;
}
.galleryBox{
    width: 20vw;
    height: 65vh;
    border-radius: 160px;
}
.stepImage img{
    object-fit: cover;
    object-position: center;
}

@media screen and (max-width: 1199px) {
    .processMainHeading{
        font-size: 4em;
    }
    .processView{
        font-size: 1.8em;
    }
    .stepsCount{
        font-size: 2.4em;
    }
    .stepHeading{
        font-size: 4em;
        padding: 0.15em 0em;
    }
}

@media screen and (max-width: 992px) {
    .processMainHeading {
        font-size: 4.5em;
    }
    
    .processView {
        font-size: 2.2em;
    }
    .stepsCount {
        font-size: 3em;
    }
    
    .stepHeading {
        font-size: 5em;
    }
    .stepDescription{
        font-size: 1.7em;
    }
    .galleryBox{
        width: 27vw;
    }
}

@media screen and (max-width: 767px) {
    .processMainHeading {
        font-size: 5.5em;
    }
    
    .processView {
        font-size: 3em;
    }
    .stepsArea{
        flex-direction: column;
        overflow: hidden;
    }
    .imagesArea{
        width: 100%;
        height: 60svh;
    }
    .galleryBox{
        width: 100%;
        height: 280px;
        display: flex;
    }
    .contentArea{
        width: 100vw;
        order: 2;
        height: 40svh;
    }
    .steps{
        display: flex;
        overflow: hidden;
        position: absolute;
    }
    .step{
        min-width: 100%;
        height: auto;
        padding-right: 40%;
    }
    .stepsCount {
        font-size: 4em;
    }
    .stepHeading {
        font-size: 7em;
    }
    .stepDescription {
        font-size: 2.25em;
    }
}

@media screen and (max-width: 575px) {
    .verticleSlider{
        padding: 3em 5em;
    }
    .headingContainer{
        margin-bottom: 4em;
    }
    .processMainHeading {
        font-size: 8em;
    }
    .processView {
        font-size: 5em;
    }
    .step {
        padding-right: 30%;
    }
    .stepsCount {
        font-size: 7em;
    }
    .stepHeading {
        font-size: 11em;
    }
    .stepDescription {
        font-size: 4em;
    }
}