*{
    padding: 0px;
    margin: 0px;
    font-size: 1vw;
    scrollbar-width: thin;
    scrollbar-color: var(--main-blue-color) #f7f7f7;
}
:root{
    --main-blue-color: #418dc9;
}
::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: #f7f7f7;
}

::-webkit-scrollbar-thumb {
    background: var(--main-blue-color);
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background: darken(var(--main-blue-color), 10%);
}

@font-face {
    font-family: 'Helvetica Neue Interface Regular';
    src: url('./assets/fonts/_H_HelveticaNeueInterface_2.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica Neue Interface bold';
    src: url('./assets/fonts/_H_HelveticaNeueInterface_0.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}