*{
    padding: 0px;
    margin: 0px;
    font-size: 1vw;
}

:root{
    --main-blue-color: #418dc9;
}
@font-face {
    font-family: 'Helvetica Neue Interface Regular';
    src: url('./assets/fonts/_H_HelveticaNeueInterface_2.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica Neue Interface bold';
    src: url('./assets/fonts/_H_HelveticaNeueInterface_0.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}